
main{
    background-color: rgb(215, 215, 215);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}